/* @import url('https://fonts.googleapis.com/css2?family=Oraniembaum:wght@100&display=swap'); 

html, body, [class*="css"] {
    font-family: 'Oraniembaum', serif; 
    font-size: 12px;
    font-weight: 500;
    color: #091747;
}
 */
ul {
    padding-left: 1.5rem;
}

h1 {
    text-align:center;
}

h5 {
    text-align:center;
}

#MainMenu {
    visibility: hidden;
}
footer {
    visibility: hidden;
}
header {
    visibility: hidden;
}

